extends layout/admin

block content
    section.content
        .error-page
            h2(class="headline #{color}") #{status}
            .error-content
                h3
                    i(class="fa fa-warning #{color}") #{shortdesc}
                p #{longdesc}
    if stack
        pre #{stack}